$background-color: #616161;
$toolbox-background: 	#141d26;
$secondary-background: #243447;
$font-color: #ffffff;
$primary-color: #c51f5d;



.main {
  background: $background-color;
}
canvas {
    background: #61616100;
}
body {
    margin:0;
    background: gray;
    color: $font-color;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}